@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-weight: 600;
        src: url(/fonts/Montserrat-SemiBold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-weight: 500;
        src: url(/fonts/Montserrat-Medium.ttf) format('truetype');
    }
}

.rotate-180 {
    transform: rotate(180deg);
}

.w-calc-input {
    width: calc(100% - 1rem);
}

#content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.filter-primary {
    filter: invert(52%) sepia(31%) saturate(1701%) hue-rotate(217deg) brightness(101%) contrast(96%);
}

.dt-column-title {
    color: #9ca3af
}

.dt-paging-button {
    border: unset !important;
    padding: 0.25rem 0.5rem !important;
}

.dt-paging-button:hover {
    background: #a27dfa !important;
}

table.dataTable.row-border>tbody>tr>*,
table.dataTable.display>tbody>tr>* {
    border-top: 0px !important;
}

button.dt-button {
    font-size: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    border-radius: 9999px !important;
    border: 1px solid #FFFFFF !important;
    color: #fff !important;
    background-color: #a27dfa !important;
    width: max-content !important;
}